@charset "utf-8";
/* CSS Document */
body{
	
}
input {
	border-radius:2px;
}
body {
  background-color: #F5F5F5;
}
input:hover {
	color:rgba(255,153,0,1);
	border-radius:5px;
	border:rgba(0,204,0,1) 1px solid;
}

table{
	background-color: #FFFFFF;
}
